{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
  ],
  "rules": {
    "@typescript-eslint/camelcase": "off",
    // `allowExpressions` lets us elide return types on arrow and inline functions
    "@typescript-eslint/explicit-function-return-type": ["warn", { "allowExpressions": true }],
    // Typescript compiler does this instead
    "@typescript-eslint/no-unused-vars": "off",
    // "typescript-eslint/no-object-literal-type-assertion": "warn",
    // Squelch pointless warnings about apostrophes in JSX
    "react/no-unescaped-entities": "off",
    // Allow Rust-like empty structs
    "@typescript-eslint/no-empty-interface": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
