// Brand colors
$yellow: #ffcc00;
$yellow_dark: #cccc00;
$yellow_dark_dark: #999900;
$yellow_light: #ffff66;
$yellow_light_light: #ffff99;

$red: #ff0000;
$red_light: #ff6666;
$red_light_light: #ff9999;
$red_dark: #cc0000;
$red_dark_dark: #990000;

$aqua: #00ffff;
$aqua_light: #66ffff;
$aqua_light_light: #99ffff;
$aqua_dark: #009966;
$aqua_dark_dark: #006666;
